{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.duct-framework/database.sql.hikaricp {:mvn/version "0.7.0"}
        org.duct-framework/migrator.ragtime {:mvn/version "0.5.1"}
        integrant/integrant {:mvn/version "0.13.1"}}}
